<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>

<script th:inline="javascript">
    /*<![CDATA[*/


    var loggedin = [[${loggedin}]];
    document.writeln('<a href="/error"> ERROR!!!</a>');
    if (loggedin === false) {
        document.writeln('<a href="/login">Log In</a>');
    } else {
        var userName = [[${user.name}]];
        document.writeln("<p>Hello, " + userName + "!</p>");
    }

    /*]]>*/
</script>


</body>
</html>