<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<a href="/login">Log In</a>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>      </th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>3$</td>
        <th><button type="button">Add!</button></th>
    </tr>
    <tr>
        <td>Eve</td>
        <td>4$</td>
        <th><button type="button">Add!</button></th>
    </tr>
    <tr>
        <td>John</td>
        <td>6$</td>
        <th><button type="button">Add!</button></th>
    </tr>
</table>

</body>
</html>